<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/ait8vwf.css">
    <title>My Server: {{service}} Setup!</title>
</head>
<body class="tk-elza" style="font-family: 'elza', san-serif;">
<div style="display:none;max-height:0px;overflow:hidden;"> My Server's {{service}} Setup... </div>
<div style="height:0px;max-height:0;width:0px;overflow:hidden;opacity:0"> ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏ &nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; </div>
<div style="max-width: 600px; margin: auto; min-height: 587px; padding: 15px 4px 15px 4px">
    <div style="text-align: center;">
        <h3 style="font-family: 'elza', 'Roboto', Arial, sans-serif; font-size: 24px; color: #386ED2; font-weight: 700; line-height: 32px;">
            <a style="text-decoration: none;" href="{{web_url}}">
                LOGO
            </a>
        </h3>
    </div>
    <div style="padding: 1.04px; border-radius: 10px; background-color: #FBFDFF; background-image: linear-gradient(#386ED224, #386ED224)">
        <div style="padding: 30px; border-radius: 10px; text-align: left; background: white; box-sizing: border-box;line-height: 24px;">
            <span style="font-family: 'elza', 'Roboto', Arial, sans-serif; margin-bottom: 29px; text-align: center; font-size: 16px; font-weight: 500; color: #1B2124; display: block"> My Server's {{service}} Setup </span>
            <span style="font-family: 'elza', 'Roboto', Arial, sans-serif; margin-bottom: 15px; font-size: 13px; font-weight: 400; color: #1B2124; display:block; line-height: 20px"> You have successfully configured your {{service}}. {{action}}. </span>
            <span style="font-family: 'elza', 'Roboto', Arial, sans-serif; margin-bottom: 29px; font-size: 13px; font-weight: 400; color: #1B2124; display:block; line-height: 20px;"> If that doesn't work, contact your administrator for more information. </span>
            <div>
                <span style="font-family: 'elza', 'Roboto', Arial, sans-serif; font-weight: 400; font-size: 13px; line-height: 20px; color:#1B2124; display: block;"> Cheers, </span>
            </div>
            <div>
                <span style="font-family: 'elza', 'Roboto', Arial, sans-serif;font-weight: 400; font-size: 13px; line-height: 20px; color:#1B2124; display: block;"> QSweep Team </span>
            </div>
        </div>
    </div>
    <div style="padding: 25px 4px 25px 4px; text-align: center;">
        <span style="font-family: 'elza', 'Roboto', Arial, sans-serif; color: #77858E; font-weight: 500; font-size: 11px; text-align: center; line-height: 16px;"> Copyright © 2023 My Server., All Rights Reserved. </span>
    </div>
</div>
</body>
</html>